.cover {
  width: 163px;
  height: 255px;

  border-style: solid;
  border-width: 5px;
  border-color: var(--primary-color);
  border-radius: 0.375rem;
  background-color: lightblue;

}

.border-overlay {
  border-radius: 0.360rem
}
