<div class="flex flex-column justify-content-center align-items-center">
  <h1 class="m-0 mb-4">Set Editor</h1>

  <div *ngIf="currentEditedSet; else notLoaded" class="flex flex-column justify-content-center align-items-center">

    <!-- Global set properties-->
    <div class="flex flex-column">

      <!-- Set name -->
      <div class="flex flex-row">
        <div class="flex mr-3">
          <p>Name:</p>
        </div>
        <div class="flex justify-content-center align-items-center h-full">
          <p-button label="{{currentEditedSet.setName}}" (click)="onEditSetNameButtonClicked()"
                    [text]="true"></p-button>
        </div>
      </div>

      <!-- Set color -->
      <div class="flex flex-row">
        <div class="flex mr-3">
          <p>Color:</p>
        </div>

        <div class="flex w-full">
          <div class="flex justify-content-center align-items-center w-full">
            <p-colorPicker class="mr-3" [(ngModel)]="currentColorpickerValue"></p-colorPicker>
            <p-button label="Apply" [rounded]="true" (onClick)="saveColorPickerSetColor()"></p-button>
          </div>
        </div>

      </div>
    </div>

    <p class="m-4">Click on a card to edit it</p>

    <!-- Card previews -->
    <div class="flex justify-content-center flex-wrap">

      <div *ngFor="let card of kwartetCards; let i = index"
           class="flex flex-column align-items-center ml-3 mr-3">
        <p>Card {{ i + 1 }}</p>
        <app-edit-kwartet-card [kwartetSet]="currentEditedSet"
                               [currentKwartetCard]="card"
                               [kwartetCards]="kwartetCards"
                               [kwartetCardNumber]="i+1">
        </app-edit-kwartet-card>
      </div>

    </div>

    <p-button class="mt-6" (click)="confirmDeleteSet($event)" icon="pi pi-times" label="Delete set" [outlined]="true"
              severity="danger"></p-button>
    <p-confirmDialog></p-confirmDialog>

  </div>
  <ng-template #notLoaded>
    <p>The set could not be loaded.</p>
  </ng-template>
</div>

<p-dialog header="Edit set name" [(visible)]="editSetNameDialogIsVisible" [modal]="true" [draggable]="false"
          [resizable]="false">
  <div>
    <p>What will be the new set name?</p>
    <input id="name" type="text" placeholder="Enter set name..." required pInputText
           [formControl]="nameFormControl"/>
    <br>
    <small class="p-error" *ngIf="nameFormControl.errors?.['maxlength']">The name must not be longer
      than {{ SET_TITLE_CHARACTER_LIMIT }}
      characters.</small>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Save" (click)="onClickEditSetNameButton()" [disabled]=nameFormControl.invalid></p-button>
  </ng-template>
</p-dialog>
