<div class="flex flex-column justify-content-center align-items-center">
  <h1 class="m-0 mb-4">Set Editor</h1>

  <div *ngIf="currentEditedSet; else notLoaded" class="flex flex-column justify-content-center align-items-center">
    <p class="m-0 mb-4">Set name: {{ currentEditedSet.setName }}</p>
    <p class="m-0 mb-4">Click on a card to edit it</p>

    <!-- Card previews -->
    <div class="flex justify-content-center flex-wrap">

      <div *ngFor="let card of kwartetCards; let i = index"
           class="flex flex-column align-items-center ml-3 mr-3">
        <p>Card {{ i + 1 }}</p>
        <app-edit-kwartet-card [kwartetSet]="currentEditedSet"
                               [currentKwartetCard]="card"
                               [kwartetCards]="kwartetCards">
        </app-edit-kwartet-card>
        <p>{{ card.name }}</p>
      </div>

    </div>

    <p-button class="mt-6" (click)="confirmDeleteSet($event)" icon="pi pi-times" label="Delete set" [outlined]="true"
              severity="danger"></p-button>
    <p-confirmDialog></p-confirmDialog>

  </div>
  <ng-template #notLoaded>
    <p>The set could not be loaded.</p>
  </ng-template>
</div>
