.page-wrapper {
  width: 100%;
  height: 100%;

  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}

.game {
  margin: 10px;
  float: left;
  max-width: 180px;
  color: white;
}

.game img {
  width: 180px;
  height: 280px;
}

.game-title {
  text-align: center;
}

.frosted {
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,.3);
}

