<div *ngIf="game">
<mat-drawer-container class="drawer-container">
  <mat-drawer class="drawer" mode="side" opened>
    <mat-toolbar>Sets voor {{game.name}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Test</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- The router outlet is responsible for showing the page -->
    <div class="content">
        <p>Editing the following game:</p>
        <p>ID: {{game.id}}</p>
        <p>Name: {{game.name}}</p>
        <app-set></app-set>
    </div>

  </mat-drawer-content>
</mat-drawer-container>

</div>

