<div *ngIf="game" class="page-wrapper" [ngStyle]="{backgroundImage:'url(assets/images/background.jpg)'}">
  <div class="main-pane frosted">
    <div class="main-pane-content">
      <h1>Editing game <strong>{{game.name}}</strong></h1>
      <mat-divider></mat-divider>
      <br>
      <h2>Set Editor</h2>
      <mat-form-field *ngIf="game.sets; else elseBlock">
        <mat-label>Set to edit</mat-label>
        <mat-select [(ngModel)]="selectedSet">
          <mat-option *ngFor="let set of game.sets" [value]="set" >
            {{set.setName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #elseBlock><p>Start creating sets for this game by clicking the button below.</p>
      </ng-template>

      <button mat-icon-button
              color="primary"
              aria-label="Button to create a new set"
              matTooltip="Create a new set"
              (click)="createNewUnnamedSet()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <br>
      <mat-divider></mat-divider>
      <br>
      <app-set-editor [set]="selectedSet"></app-set-editor>
    </div>
  </div>
</div>

