@import "../../../../variables.scss";

.button {
  background-color: $color-lipstick;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 1.75rem;
  border-radius: 8px;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  cursor: pointer;

  &:active {
    background-color: $color-buttonclick;
    transition-duration: 0.1s;
  }

  &--animated {
    transition-duration: 0.1s;
    transition-property: transform;
    transform: translateZ(0);

    &:hover {
      transform: translateY(-4px);
    }
  }
}
