<app-header></app-header>

<p-toast position="bottom-center"></p-toast>
<p-dialog header="New game" [(visible)]="createGameDialogIsVisible" [modal]="true" [draggable]="false"
          [resizable]="false">
  <div>
    <p>Choose a game title</p>
    <input id="name" type="text" placeholder="Game title" required pInputText [formControl]="titleFormControl"/>
    <br>
    <small class="p-error" *ngIf="titleFormControl.errors?.['maxlength']">The name must not be longer than 20
      characters.</small>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="onClickCreateGameButton()" [disabled]=titleFormControl.invalid>Create</p-button>
  </ng-template>
</p-dialog>

<div id="content">
  <p-button label="+ New game" size="large" (click)="showCreateGameDialog()"></p-button>

  <div id="games">
    <div class="game" *ngFor="let game of loadedGames">
      <div class="game__cover"></div>
      <div class="game__title">
        <p>{{ game.title }}</p>
      </div>
    </div>
  </div>
</div>
