@import "../../../../variables.scss";

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-button {
  margin-top: 40px;
  margin-bottom: 30px;
}

#games {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 98%;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 20px;

  &__cover {
    width: 163px;
    height: 255px;

    background-color: white;
    border-style: solid;
    border-width: medium;
    border-color: $color-lipstick;
    border-radius: 8px;
  }

  &__title {
    text-align: center;

    p {
      margin-top: 15px;
      margin-bottom: 0;
    }
  }

}


