<div class="relative">
  <div (click)="onCardPreviewClicked()"
       class="absolute w-full h-full transition-colors transition-duration-150 hover:bg-black-alpha-80 border-overlay cursor-pointer flex justify-content-center align-items-center"
       (mouseenter)="showEditOverlay = true" (mouseleave)="showEditOverlay = false">
    <i *ngIf="showEditOverlay" class="pi pi-pencil" style="font-size: 2.5rem"></i>
  </div>
  <div *ngIf="kwartetSet; else notLoaded" class="cover flex flex-column">
    <div class="flex align-items-center justify-content-center h-2rem w-full">
      <p class="m-1 text-0">{{ kwartetSet.setName }}</p>
    </div>
    <div class="flex align-items-center justify-content-center h-6rem w-full">
      Image
    </div>
    <div class="flex align-items-center justify-content-center h-2rem w-full">
      <p class="m-0 text-0">{{ kwartetSet.card1.name }}</p>
    </div>
    <div class="flex align-items-center justify-content-center h-2rem w-full">
      <p class="m-0 text-0">{{ kwartetSet.card2.name }}</p>
    </div>
    <div class="flex align-items-center justify-content-center h-2rem w-full">
      <p class="m-0 text-0">{{ kwartetSet.card3.name }}</p>
    </div>
    <div class="flex align-items-center justify-content-center h-2rem w-full">
      <p class="m-0 text-0">{{ kwartetSet.card4.name }}</p>
    </div>
  </div>
</div>

<ng-template #notLoaded>
  <p>The set could not be loaded.</p>
</ng-template>

<p-dialog header="Edit card" [(visible)]="editCardDialogIsVisible" [modal]="true" [draggable]="false"
          [resizable]="false">
  <form [formGroup]="editCardForm">
    <p>Name</p>
    <!-- If the cards name is Unnamed card, the value should not be filled in -->
    <input id="name" type="text" placeholder="Enter card name..." required pInputText formControlName="name"/>
    <br>
    <small class="p-error" *ngIf="editCardForm.controls.name.errors?.['maxlength']">The name must not be longer
      than {{ SET_TITLE_CHARACTER_LIMIT }}
      characters.</small>
    <p class="mt-4">Cover image</p>
  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="onClickSaveCardButton()" [disabled]=editCardForm.invalid>Save</p-button>
  </ng-template>
</p-dialog>
