@import "../../../../variables.scss";

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    font-size: 5rem;
    font-weight: bold;

    margin-top: 60px;
    margin-bottom: 0;
  }

  &__tagline {
    font-size: 1.4rem;
  }
}

button {
  margin-top: 20px;
}
