/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

@media screen {
  body {
    background-color: #1c1b22;
  }
}

@media print {
  body {
    background-color: white;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
