/* You can add global styles to this file, and also import other style files */
$color-white: #FFFFFF;
$color-lipstick: #6F2232;
$color-dark: #1A1A1D;
$color-link: #125699;

body {
  background-color: $color-dark;
  color: $color-white;
  font-family: 'Rubik', sans-serif;
}

