/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

// THEME
@import "primeng/resources/themes/lara-dark-blue/theme.css";

// ICONS
@import "primeicons/primeicons.css";

body {
  margin: 0;
}

a {
  color: $color-link;
  text-decoration: none;
}
