@media screen {
  #printed-page {
    display: none;
  }
  #screen {
    display: block;
  }

}

@media print {
  .page-break {
    break-before: page;
  }

  #printed-page {
    display: block;
  }
  #screen {
    display: none;
  }


  @page {
    size: A4 landscape;
  }

  * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
  }
}
