<div
  class="bg-gray-800 h-full block flex-shrink-0 left-0 top-0 z-1 select-none"
  style="width: 280px;">
  <div class="flex flex-column h-full">
    <div class="overflow-y-auto mt-3">
      <ng-content></ng-content>
    </div>
    <div class="mt-auto">
      <hr class="mb-3 mx-3 border-top-1 border-none border-gray-800">
      <p class="p-element m-3 flex align-items-center p-3 border-round hover:bg-gray-800 text-gray-300">
        <span class="font-medium">{{ footerText }}</span>
      </p>
    </div>
  </div>
</div>
