<div
  class="bg-gray-800 h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 select-none"
  style="width: 280px;">
  <div class="flex flex-column h-full">
    <div class="overflow-y-auto mt-3">
      <h1 class="pl-5 pt-5 pr-5 m-0">GENERAL</h1>
      <ul class="list-none p-3 m-0">
        <li>
          <a class="p-element flex align-items-center cursor-pointer p-3 hover:bg-gray-900 border-round text-gray-100 hover:text-bluegray-50 transition-duration-150 transition-colors">
            <i class="pi pi-home mr-2"></i>
            <span class="font-medium">Game Settings</span>
          </a>
        </li>
        <li>
          <a class="p-element flex align-items-center cursor-pointer p-3 hover:bg-gray-900 border-round text-bluegray-100 hover:text-gray-50 transition-duration-150 transition-colors">
            <i class="pi pi-cog mr-2"></i>
            <span class="font-medium">Print</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
